@page "/counter"
<h3>DataGridViewComponent</h3>

<DataGridComponent 
                        Columns="columnDefinations"
                       DataItems="ListEmployees"
                       TItem="Employee"></DataGridComponent>
@code {
    private List<Employee> ListEmployees;
    public List<ColumnDefination> columnDefinations { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Initilize();
    }

    private void Initilize()
    {
        if (columnDefinations == null)
        {
            columnDefinations = new List<ColumnDefination>();
            columnDefinations.AddRange(
                new ColumnDefination[]
                {
                    new ColumnDefination{DataFeild = "Name" , Caption="Name"},
new ColumnDefination{DataFeild = "Title" , Caption="Title"},
new ColumnDefination{DataFeild = "Department" , Caption="Department"},
new ColumnDefination{DataFeild = "EmploymentDate" , Caption="Employment Date" , dataType=DataType.Date},
new ColumnDefination{DataFeild = "Salary" , Caption="Salary" , dataType=DataType.Number}

                                                                                        }
                );
        }
        if (ListEmployees == null)
        {
            ListEmployees = new List<Employee>();
            ListEmployees.AddRange(
                new Employee[]
                {
                        new Employee
                        {
                            Name = "Abc",
                            Title = "T",
                            Department = "dnjen",
                            EmployeeDate = DateTime.Now,
                            Salary= 100
                        }
                        ,

                        new Employee
                        {
                            Name = "Abc",
                            Title = "T",
                            Department = "dnjen",
                            EmployeeDate = DateTime.Now,
                            Salary= 100

                        },                        new Employee
                        {
                            Name = "Abc",
                            Title = "T",
                            Department = "dnjen",
                            EmployeeDate = DateTime.Now,
                            Salary= 100

                        },                        new Employee
                        {
                            Name = "Abc",
                            Title = "T",
                            Department = "dnjen",
                            EmployeeDate = DateTime.Now,
                            Salary= 100

                        }
                    }
                );
        }
    }

    class Employee
    {
        public string Name { get; set; }
        public string Title { get; set; }
        public string Department { get; set; }
        public DateTime EmployeeDate { get; set; }
        public int Salary { get; set; }

    }
}
